*{
   margin:0;
   padding:0 ;
   box-sizing:border-box;
}

body{
    background: #222;
}

.card{
    width: 90% ;
    max-width: 340px;
    background: linear-gradient(135deg,#196954,#32286c);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.search{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.card .search .input input{
    height: 40px;
    border-radius: 20px;
    padding-left: 12px;
    padding-right: 12px;
    border:none;
    outline: none;
    font-size: 16px;
   
}

.card .search .input{
    overflow: hidden;
    border-radius: 20px;
    border: none;
    width: 350px;
    
}
.card .search button{
    height: 40px;
    width: 60px ;
    border-radius: 20px;
    border: none;
}

.card .search button img{
    width: 100%;
    height: 100%;

    border-radius: 20px;
    border: none;
}


.card .weather {
    
    margin-left: -35px;
}

.card .weather .weather_icon{
    height: 150px;
    width: 150px;
    margin-top: 30px;
    
}

.weather h1{
    font-size: 60px;
    font-weight: 500;
}

.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;


}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between ;
    padding:  0 20px;
    margin-top: 50px;
  
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
    gap: 20px;
    

}

.col img{
    height: 50px;
    width: 50px; 
    margin-right: -8px;

}
.col .hw p{
    width: 100px ;

}


.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;
}


.invalid{
    margin-left: -35px;
    display: none;
}